@import "./general/mixin.scss";
@import "./general/base.scss";

.converter {
    min-height: 100vh;
    @include Dflex(center);

    section {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        gap: var(--md-p);
        flex: 1;
        padding: var(--md-p);

        .head_body {
            padding: var(--md-p);
            text-align: center;
        }

        .input_body {
            input {
                margin-top: var(--sm-p);
                border-radius: 12px;
            }
        }
    }
}