@import "./general/mixin.scss";
@import "./general/base.scss";
@import "./general/keyframes.scss";

.link_nav {
    width: 100dvw;
    height: 100dvh;
    @include Dflex(center);

    .nav {
        width: 100%;
        max-width: 350px;
        padding: var(--md-p);
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius-light);

        .nav_container {

            .nav_item {
                transition: background-color var(--animation-speed);

                a {
                    width: 100%;
                    height: 100%;
                    padding: var(--md-p);
                }

                &:not(:last-of-type) {
                    border-bottom: 1px solid var(--border-color);
                }

                &:hover {
                    background-color: var(--low-opacity);
                }
            }
        }
    }
}